.menu-items{
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 10px;
    height: 100px;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(224, 11, 11, 0.359);
}

.menu-items img{
    border-radius: 10px;
    margin-right: 15px;
}

.menu-items p{
    padding: 5px;
    margin: 0;
}
